.header-bar{
    width: 100%;
    height: 100px;
    background-color: rgb(100, 22, 163);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 3px 6px rgb(126, 126, 126);
    z-index: 100;
}

.logo-header{
    width: 80px;
    filter: brightness(0) invert(1);
    margin-left: 30px;
}

.user-header{
    margin-right: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}