.home-component{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: rgb(233, 233, 233);

}

.home-body{
    width: 100%;
    margin-top: 100px;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.create-ticket{
    display: flex;
    width: 100%;
    justify-content: center;
}


.my-tickets{
    display: flex;
    align-items: center;
    color: rgb(100, 22, 163);
    font-family: MontserratAlternatesSemiBold;
    padding-left: 30px;
    margin-top: 30px;
}

.tickets-content{
}

.tickets{
    display: flex;
    justify-content: space-around;

}

.no-tickets{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    color: rgb(100, 22, 163);
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: JuliusSansOneRegular;
}
