.login-component{
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/note-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.login-bg{
    height: 100%;
    width: 100%;
    background-color: rgba(69, 15, 168, 0.363);
    
}

.login-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

h2{
    color: rgb(100, 22, 163);
    font-size: 35px;
}

p{
    font-size: 15px;
}

.login-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

.card-header{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logged{
    margin-bottom: 20px;
}