.new-ticket{
}

.ticket-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    overflow-y: scroll;
}

.flex-center-title{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    color: rgb(100, 22, 163);
}

.notes-list{
    width: 100%;
}

.notes-input{
    display: flex;
    width: 100%;
}

.ticket-users{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
}