.register-component{
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/note-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.register-bg{
    height: 100%;
    width: 100%;
    background-color: rgba(69, 15, 168, 0.363);
    
}

.register-content{
    font-family: JuliusSansOneRegular;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

h2{
    color: rgb(100, 22, 163);
    font-size: 35px;
}

p{
    font-size: 15px;
}

.register-card{
    background-color: white;
    height: 35vw;
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5%;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.card-header{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-footer{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.registered{
    margin-bottom: 20px;
}