body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "JuliusSansOneRegular";
  src: local("JuliusSansOneRegular"),
    url("assets/fonts/JuliusSansOne-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "PaytoneOneRegular";
  src: local("PaytoneOneRegular"),
    url("assets/fonts/PaytoneOne-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "MontserratAlternatesSemiBold";
  src: local("MontserratAlternatesSemiBold"),
    url("assets/fonts/MontserratAlternates-SemiBold.ttf") format("truetype");
  font-weight: normal;
}

